@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
* {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}

body {
  min-height: 100vh;
}

img {
  width: 10rem;
}

.flex {
  display: flex;
}

.box {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

section {
  width: 100%;
}

span {
  font-size: 1.3rem;
}
