@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
* {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}

body {
  min-height: 100vh;
}

h1 {
  justify-content: center;
  font-size: 4rem;
  text-align: center;
}
img {
  width: 10rem;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.box {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.search {
  flex-flow: column;
  align-items: center;
}

section {
  width: 100%;
}

span {
  font-size: 1.3rem;
}

input {
  width: 80%;

  font-size: 2rem;
  font-weight: 600;
  border: solid 1px;
  border-radius: 10px;
}

.alert {
  color: red;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  input {
    font-size: 1.2rem;
  }
}
